[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/natnat201193/glfw.git
	branch = master
[submodule "dependencies/glad"]
	path = dependencies/glad
	url = https://github.com/natnat201193/glad.git
	branch = glad2
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/natnat201193/glm.git
	branch = master
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/natnat201193/assimp.git
	branch = master
[submodule "dependencies/stb"]
	path = dependenciess/stb
	url = https://github.com/natnat201193/stb.git
	branch = master
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/natnat201193/imgui.git
	branch = master
